body{background:black;
    padding:5%;

    
    
    

}
.post{
    width:500px;
    margin:auto;
    background:white;
    padding-top:1%;
    font-family: Roboto;
    
    
}    

.post-header{
    
    display:flex;
    padding:1%;

} 

.push {
  margin-left: auto;
}
    
.post-header img{
 width:50px;
}   

.post-imagen img{
    width:500px;
}    
.post-body{
    padding: 3%;
    
    
    
    
}

.iconosenteros{
    display:flex;
    padding:5px;


    


    }
 
.iconosenteros i{   
    font-size:30px;


}
    


post-iconos2{
    width:3%;
    
    
    

    
    
     
    

}

.post-iconos{
    width:97%
    
}

.parrafos{
    padding:5px;

    

}
  


